<!DOCTYPE html>
<html>
  <head>
    <title>Phonos - Notas de Voz</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <h1>Phonos - Notas de Voz</h1>
    <p>Grupo V - Sistemas Web (2023-2024)</p>
    <div id="primary">
      <ul>
        <li id="liRecordBtn"></li>
        <li id="liPlayBtn"></li>
        <li id="liUploadBtn"></li>
      </ul>
    </div>
  </body>
</html>
