<!DOCTYPE html>
<html>
  <head>
    <title>Phonos - Notas de Voz</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="icon" type="images/x-icon" href="/images/favicon.ico">

    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <h1>Phonos - Notas de Voz</h1>
    <h2>Grupo V - Sistemas Web (2023-2024)</h2>


    <div id="primary">
    <p>Grabadora de audio</p>
    <hr>
      <ul id="lista">
        <li id="liRecordBtn"></li>
        <li id="liPlayBtn"></li>
        <li id="liUploadBtn"></li>
      </ul>
    <hr>
       <ul id="lista2">
       </ul>
    <hr>


    </div>
    <br>
    <br>

      <p class="nombre">Nicolas Aguado</p>
        <p class="nombre">Abraham Lo siento no me se tu apellido :(    </p>
        <p class="nombre">Asier Contreras</p>
        <p class="nombre">Martin Ian Horsfield</p>
  </body>
</html>
