<!DOCTYPE html>
<html>
  <head>
    <title>Phonos - Notas de Voz</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="icon" type="images/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/js/utils/snackbar/snackbar.css" type="text/css">
    <script src="/js/utils/time/moment.js"></script>
    <script src="/js/utils/time/moment-es.js"></script>
    <script src="/js/utils/snackbar/snackbar.min.js"></script>
    <script src="/js/main.js" type="module"></script>
  </head>
  <body>
    <h1>Phonos</h1>
    <h2>Grupo V - Sistemas Web (2023-2024)</h2>


    <div id="primary">
    <p id="apptitle">Reproductora de audio</p>
    <hr>
      <ul id="lista">
        <li id="liRecordBtn"></li>
        <li id="liPlayBtn"></li>
        <li id="liUploadBtn"></li>
      </ul>
    <hr>
       <ul id="lista2">
       </ul>
    <hr>


    </div>
    <br>
    <br>

      <p class="nombre">Nicolas Aguado</p>
        <p class="nombre">Abraham Casas  </p>
        <p class="nombre">Asier Contreras</p>
        <p class="nombre">Martin Ian Horsfield</p>
  </body>
</html>
