<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reproductor de Audio</title>
</head>
<body>
<h1>Reproductor de Audio</h1>
<audio controls>
    <source src="data:audio/wav;base64,<%= audioData.data %>" type="audio/wav">
    Tu navegador no soporta el elemento de audio.
</audio>
</body>
</html>