body {
    padding: 50px;
    font: 14px 'Trebuchet MS', sans-serif;!important;
    float: none;
    text-align: center;
    background-color: #ebebeb;
}

p {
    font: 18px 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;

}

li {
    margin: 15px;
}

.primary {
    margin-top: 40px;
    background-color: white;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px darkgrey;
    width: 340px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inputtxt {
    box-shadow: inset 0 1px 1px #8f8f8f;
    border-radius: 3px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
    margin: 10px 0px 0px 0px;
    outline: medium none;
    padding: 4px;
    border: 1px solid #a8a8a8;
    font-weight: normal;
    width: 200px;
}

.boton,
#playBtn,
#recordBtn,
#uploadBtn {
    padding: 12px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font: 18px 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 8px darkgrey;
}

.botonpeq {
    padding: 12px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font: 18px 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 8px darkgrey;
}
.botonpeq:hover {
    background-color: darkgrey;
    cursor: pointer;
    color:white;
}

.nombre{
    font: 14px 'Trebuchet MS', sans-serif;

}

.rojo {
    color:red;
}

 .botonalreves {
    padding: 12px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font: 18px 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 8px darkgrey;
    color:white;
    background-color: #DA0035;
 }
.botonalreves:hover {
    background-color: inherit;
    cursor: pointer;
    color:black;
}

.boton:hover,
#playBtn:hover,
#recordBtn:hover,
#uploadBtn:hover {
    background-color: #DA0035;
    cursor: pointer;
    color:white;
}
.boton:disabled,
#playBtn:disabled,
#recordBtn:disabled,
#uploadBtn:disabled{
    background-color: #899291;
    cursor: not-allowed;
    color:black;
}

hr {
    width: 333px;
    margin-bottom: 15px;
    margin-top: 15px;
}

a {
    color: #00B7FF;
}
#liRecordBtn{
    color: red;
}
svg{
    float: left;
    margin-left:   30px;
    margin-top: 2px;

}

.icon1{
    float: left;
    cursor: pointer;
    padding-left: 10px;
    text-align: center;
}
.icon2{
    float:right;
    cursor: pointer;
    padding-right: 15px;
    text-align: center;
}

.icon1:hover,
.icon2:hover{
    fill: gray;
}
span{
    fill: darkgrey;
}


input[type=radio] {
    appearance: none;
    background-color: #fff;

    font: inherit;
    color: #DA0035;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display:inline-grid;
    place-content: center;

    &::before {

        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #DA0035;
        background-color: CanvasText;
        transform-origin: top bottom;
    }
    &:checked::before {
        transform: scale(1);
    }
}

#usuariotxt, #passtxt, #emailtxt {
    margin:10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    padding: 4px;

}

#link{
    color: #00B7FF;
    text-decoration: none;
    font-size: 16px;
    height: 150px;
}